<!-- Top navigation -->
<div style="height: 52px;" class="topnav">
  <div class="topnav" *ngIf="this.router.url.includes('menu/view/') || this.router.url.includes('menu/create/')">
    <a style="padding: 0px; padding-left: 10px; padding-bottom: 20px;" routerLink="/menu"><h1><i class="arrow left"></i></h1></a>
  </div>

  <!-- Centered link -->
  <div class="topnav-centered">
    <a class="navbar-brand" routerLink="/menu">
      <img id="navbar-logo" src="https://patrikfreisner.github.io/primum_mainpage/white_logo.png" width="50" height="50"
           class="d-inline-block align-top"
           alt="Primum Logo">
    </a>
  </div>
</div>


<div class="body">
  <router-outlet></router-outlet>
</div>
