<div class="myContainer">
  <div class="sidebar">
    <div id="sidebar-head">
      <h5 style="margin: 10px;" align="center"> {{diagram.name}} </h5>
    </div>
    <div id="sidebar-body">
      <div *ngFor="let obj of diagramNot" class="card" style="margin-bottom: 10px;">
        <div class="card-body" style="padding: 5px;">
          <h5 align="center">
            {{getNotationInfo(obj.bpmNotationCode).businessObject.name || setNotationName(getNotationInfo(obj.bpmNotationCode).businessObject.$type)}}
          </h5>
          <a (click)="openPropertiesContent(content, obj.bpmNotationCode)" class="btn btn-primary col-8"
             style="margin-right: 10px;">Propriedades</a>
          <a (click)="deleteMe(obj.bpmNotationCode)" class="btn btn-primary col-3">
            Del
          </a>
        </div>
      </div>
    </div>
  </div>

  <hr class="vertical-rule">

  <!-- BPMN-JS render space bellow :)-->
  <div id="js-canvas">
    <button (click)="saveXML()" class="btn btn-default btn-outline-dark"
            style="z-index: 1; position: absolute; top: 55px; right: 10px;">Salvar
    </button>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> Propriedades
      | {{notationProperties.businessObject.di.name || setNotationName(notationProperties.businessObject.di.id)}}</h4>
    <button (click)="d('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="nestedFormContainer">
      <div class="col-sm-6">
        <label> ID: </label>
        <input class="form-control" disabled type="text" value="{{notationProperties.businessObject.di.id}}">
      </div>
      <div class="col-sm-6">
        <label> Display_Name: </label>
        <input class="form-control" disabled type="text" value="{{notationProperties.businessObject.name || 'N/A'}}">
      </div>
    </div>

    <form [formGroup]="mainform" id="notationForm">
      <div id="formContainer">
        <h4 align="center"> Propriedade das Notações </h4>
        <!--        <div class="col-sm-12">-->
        <!--          <label>-->
        <!--            Resource:-->
        <!--            <input class="form-control" formControlName="resource" type="text">-->
        <!--          </label>-->
        <!--        </div>-->
        <div class="nestedFormContainer" formGroupName="compound_attributes">
          <div class="col-sm-12">
            <label>
              Composição do processo:
              <input class="form-control" formControlName="name" type="text">
            </label>
          </div>
        </div>
        <div class="nestedFormContainer" formGroupName="can_handle_attributes">
          <div class="col-sm-6">
            <label>
              <span data-toggle="tooltip" data-placement="top"
                    title="Tempo maximo para que a quantidade especificada ao lado fique pronta.">Tempo maximo de produção: </span>
              <input class="form-control" formControlName="time" type="text">
            </label>
          </div>
          <div class="col-sm-6">
            <label>
              <span data-toggle="tooltip" data-placement="top"
                    title="Quantidade maxima de peças que a maquina suporta produzir, geralmente especificada pelo fabricante.">Quantidade maxima de peças:</span>
              <input class="form-control" formControlName="quantity" type="text">
            </label>
          </div>
        </div>
        <div class="nestedFormContainer" formGroupName="can_produce_attributes">
          <div class="col-sm-6">
            <label>
              Tempo de produção atual:
              <input class="form-control" formControlName="time" type="text">
            </label>
          </div>
          <div class="col-sm-6">
            <label>
              Quantidade produzida atualmente:
              <input class="form-control" formControlName="quantity" type="text">
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="saveNotation(setNotationName(notationProperties.businessObject.di.id)); d('SaveClick')" [disabled]="!mainform.valid" class="btn btn-outline-dark"
            type="button"> Salvar!
    </button>
  </div>
</ng-template>
