<div class="container p-4">
  <h1 align="center" class="display-3"> Menu </h1>

  <div class="col-sm-6 jumbotron" style="margin-left: auto; margin-right: auto;">
    <a class="col-sm-12 btn btn-default btn-outline-dark" routerLink="/menu/create"> Novo Diagrama!</a>
    <hr>
    <button class="col-sm-12 btn btn-default btn-outline-dark" routerLink="/menu/view"> Abrir diagrama!</button>
    <hr>
    <button class="col-sm-12 btn btn-default btn-outline-dark" routerLink="/menu/toc"> Processos de otimização TOC!</button>
  </div>

</div>
